:root {
  --clr-main: #4589ff;
  --clr-text-menu: #42526e;
  --clr-text-good-morning: #2a3647;
  --clr-text-menu-hover: #e3eeff;
  --clr-button-todo: #d2e3ff;
  --clr-text-medium-blue: #005dff;
  --clr-input-focus: #0d99ff;
  --clr-icon: #a8a8a8;
  --clr-style-lightgrey: #d1d1d1;
  --clr-style-lightblue: #29abe2;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 100;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  max-width: 1440px;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* border-right: 1px solid #eee; */
}

.bodyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  height: 100%;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border: 0.5rem solid hsl(0 100% 100% / 1);
  height: 3.3125rem;
  background-color: #a8a8a8;
  border-radius: 0.75rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

*::-webkit-scrollbar-button {
  height: 4px;
  width: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

*::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("./assets/img/arrow_up.png");
  scroll-padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("./assets/img/arrow_down.png");
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.end-of-page {
  margin-bottom: 80px;
}

.d-none {
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
}

@media screen and (max-width: 801px) {
  .main-wrapper {
    height: calc(100vh - 145px);
  }
}
