:root {
  --clr-main: #4589ff;
  --clr-text-menu: #42526e;
  --clr-text-menu-hover: #e3eeff;
  --clr-text-medium-blue: #005dff;
  --clr-input-focus: #0d99ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto auto 0; */
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.main {
  display: flex;
  /* background-color: lightblue; */
  width: 100%;
}

.d-none {
  display: none;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

a {
  text-decoration: none;
}
