#container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: lightblue;
}

#innerContainer {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;

}

.move-to-right {
    animation: moveToRight .5s ease forwards;
}
.move-to-left {
    animation: moveToLeft .5s ease forwards;
}

@keyframes moveToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

@keyframes moveToLeft {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
    }
}