body{
    height:50vh;
    display: grid;
    place-items: center;
    
}

select{
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
    font-size: 1.5rem;
    padding: 1em 4em 1em 1.5em;
    background: #4d5061;
    color:white;
}

.custom-select{
    position: relative;

}
.custom-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    right:0;
    background: #3b3c47;
    height:99%;
    width: 4rem;
    pointer-events: none;

}
.custom-arrow > img{
    justify-content: center;
    align-items: center;
}

