:root {
    --addTaskGap: 8px;
    --addTaskPaddingBottom: 20px;
    --clr-prio-urgent: #ff3d00;
    --clr-prio-medium: #ffa800;
    --clr-prio-low: #7ae229;
    --clr-contact-marked: #4589ff;
    --clr-contact-marked-hover: #005dff;
    --clr-contact-hover: #d2e3ff;
}

select,
input,
textarea {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

input:focus {
    border-bottom: 1px solid var(--clr-input-focus);
}

select:hover {
    border-bottom: 1px solid var(--clr-input-focus);
}

textarea {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0 10px 10px 10px
}

textarea:focus {
    outline: none !important;
    border: 1px solid var(--clr-input-focus);
}

/* textarea::-webkit-resizer {
    appearance: none;
} */

select {
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../img/icon-event.png') no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.addTaskBody {
    height: 769px;
    max-width: 500px;
    padding: 64px 24px 0 24px;

}

.addTaskAddTitleContainer {
    padding-bottom: var(--addTaskPaddingBottom);
}

.addTaskAddTitleContainer input {
    width: 100%;
    padding: 13px 16px 13px 16px;
    font-size: 32px
}

.addTaskDescription {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: var(--addTaskPaddingBottom);
    gap: var(--addTaskGap);
}

#addTaskDescriptionInput {
    /* max-width: 440px; */
}

.addTaskDueDate {
    padding-bottom: var(--addTaskPaddingBottom);
    gap: var(--addTaskGap);
}

.addTaskBodyTop {
    display: flex;
    flex-direction: column;
    /* width: 440px; */
    gap: 12px;
}

#addTaskDescription {
    width: 100%;

}

.addTaskTitle {
    width: 100%;
    font-weight: bold;
}

.addTaskBodyBottom {
    /* width: 440px; */
}


/* Assigned To */


.addTaskDropdownAssignedTo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;

    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.addTask-dropdown-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.addTask-custom-select {
    /* background-color: red; */
    font-size: 1.188rem;
    /* background: #4d5061; */
    /* color: white; */
    position: relative;
}

.addTask-custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    /* background: #3b3c47; */
    height: 99%;
    width: 1.5rem;
    pointer-events: none;
}

.addTask-dropdown-content {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.addTaskContainer {
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

.dropdownOption {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* padding: 5px; */
    /* border-radius: 5px; */
    /* border-bottom: 1px solid lightgray; */
    cursor: pointer;

}
.dropdownOption:hover {
    background-color: var(--clr-contact-hover);
}

.dropdownOption[marked=true] {
    background-color: var(--clr-contact-marked);
}

.dropdownOption[marked=true]:hover {
    background-color: var(--clr-contact-marked-hover);
}

.addTaskCategory {
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

.d-none {
    display: none;
}


/* --- Priority buttons --- */
.addTaskPriority {
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

.addTaskPriorityButtonContainer {
    display: flex;
    gap: 16px;
}

.addTaskPriorityButton {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 136px;
    height: 51px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

#addTaskPriorityButtonLow:hover:not(.active) {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 3px 1px -1px var(--clr-prio-low)
}

#addTaskPriorityButtonMedium:hover:not(.active) {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 3px 1px -1px var(--clr-prio-medium)
}

#addTaskPriorityButtonUrgent:hover:not(.active) {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 3px 1px -1px var(--clr-prio-urgent)
}

.pointer{
    cursor: pointer;
}

.no-scroll{
    overflow: visible;
}