
:root{
    --addTaskGap: 8px;
    --addTaskPaddingBottom: 20px;
}

.addTaskContainer{
    display: flex;
    flex-direction: column;
    height: 928px;
    width: 518px;
    padding: 64ps 24px 0 24px;
    *{
        font-size: 19px;
    }



}
select, input, textarea{
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select{
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../img/icon-event.png') no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.addTaskBody{
    height: 769px;
    /* background-color: green; */
    padding: 64px 24px 0 24px;

}
.addTaskAddTitleContainer{
    padding-bottom: var(--addTaskPaddingBottom);
}

.addTaskAddTitleContainer input{
    width: 100%;
    padding: 13px 16px 13px 16px;
    font-size: 32px
}

.addTaskDescription{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: var(--addTaskPaddingBottom);
    gap: var(--addTaskGap);
}

#addTaskDescriptionInput{
    max-width: 440px;
}

.addTaskDueDate{
    padding-bottom: var(--addTaskPaddingBottom);
    gap: var(--addTaskGap);
}

.addTaskBodyTop{
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 12px;
}

#addTaskDescription{
    width: 100%;

}

.addTaskTitles{
    width: 100%;
    font-weight: bold;
}

.addTaskBodyBottom{
    width: 440px;
}

.addTaskPriority{
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

.addTaskPriorityButtonContainer{
    display: flex;
    gap: 16px;

}

.addTaskPriorityButton{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 136px;
    height: 51px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.addTaskAssignedTo{
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

.addTaskCategory{
    display: flex;
    flex-direction: column;
    gap: var(--addTaskGap);
    padding-bottom: var(--addTaskPaddingBottom);
}

