.join-logo-start {
  vertical-align: middle;
  animation: moveLogo ease-in-out 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 4s ease-in-out;
  top: 50%;
  left: 50%;
}

.join-logo-end-mobile {
  position: absolute;
  vertical-align: middle;
  animation: moveLogoMobile ease-in-out 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 64px;
  height: 78.03px;
}

.join-logo-start-mobile {
  position: absolute;
  vertical-align: middle;
  animation: moveLogoMobile ease-in-out 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 64px;
  height: 78.03px;
}

@keyframes fadeOutBackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moveLogo {
  from {
    width: 274px;
    height: 334.07px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
    transform: none;
  }
}

@keyframes moveLogoMobile {
  from {
    width: 64px;
    height: 78.03px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    width: 64px;
    height: 78.03px;
    top: 37px;
    left: 36px;
    transform: none;
  }
}
