.board-Container{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* .hidden{
    transform: translateX(100%);
}

.addTaskHoverContainer{
    position: fixed;
    z-index:1000;
    right:0;
    top:0;
    background-color: white;
    border-radius: 20px 0 0 20px;
    height: 100vh;

    .navigation-container{
        display: none
    }

    .addTaskBtnContainer{
        display: none;
    }
} */

.boardTopContainer{
    /* background-color: lightcoral; */
    padding: 10px;
    display: flex;
    gap: 35px;

}

.searchTaskContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 312px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}


.searchImg{
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    aspect-ratio: 1;
    cursor: pointer;
}


.searchImg:hover{
    background-image: url("../img/icon-search_hover.png");
}

.searchTaskInner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    gap: 16px;

    input{
        width: 83%;
        text-indent: 10px;
        background-color: transparent;
        border: none;
        border-right: 1px solid #D1D1D1;
        margin: 0;
        padding: 0;
    }

    input::placeholder{
        color: #D1D1D1;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.categoryTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img{
        width: 24px;
        height: 24px;
    }
}

.category-container {
    display: grid;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border: 2px dotted gray; */
    text-align: left;
    flex:1;
    gap:29px;

    h2{
        padding-bottom: 5px;
    }
}

.categoryTasks {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-category{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 48px;
    background-color: #e7e7e7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    color: #A8A8A8;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    gap: 24px;
    padding: 16px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
}

.addTaskButton{
    background-image: url("../img/icon-plus_button.png");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 24px;
    aspect-ratio: 1;
    
}

.addTaskButton:hover{
    background-image: url("../img/icon-plus_button_hover.png");
}

.addTaskBtnImg{
    background-image: url('../img/icon-plus.png');
    background-position: center;
    width: 15px;
    aspect-ratio: 1;
}

.assignedToButton{
    background-color: red;
}

.cardType{
    display: flex;
    max-width: fit-content;
    background-color: #FF7A00;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 16px 4px 16px;

}

.cardTitle{
    color: #4589FF;
    width: 220px;
    font-weight: 700;
    font-size: 16px;
}

.cardText{
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.cardBottomContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardPriority{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSubtasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

/*progress-bar*/
progress{
    appearance: none;
    height: 8px;
}

::-webkit-progress-bar{
    background: #F4F4F4;
    border-radius: 10px;
}
::-webkit-progress-value{
    background: #4589FF;
    border-radius: 10px;
}

.cardSubtasksText{
    font-size: 13px;
    text-wrap: nowrap;
}

.cardAssignedToContainer{
    display: flex;
    align-items: center;
    width: 100%;

    .profile-badge-group {
      margin-left: -10px
    }

    .profile-badge-group:first-child{
        margin-left: 0px;
    }
}

.d-none{
    display: none;
}

.addTaskBtnBoard{
    width: 150px !important;
}