.board-content{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    padding: 10px;
}

.tasks{
    display: flex;
    gap: 10px;
}

.card{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: green;
}

.category{
    display: flex;
    flex-direction: column;
    border: 2px dotted gray;
}