.board-Container{
    display: flex;
    flex-direction: column;
}

.boardTopContainer{
    background-color: lightcoral;
    padding: 10px;
}


.categoryTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img{
        width: 24px;
        height: 24px;
    }
}
.searchTaskInput{
    border: none;
    background-color: red;
}

.category-container {
    display: grid;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.category {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px dotted gray;
    text-align: left;
    flex:1;

    h2{
        padding-bottom: 5px;
    }
}

.categoryTasks {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: yellow;
}

.assignedToButton{
    background-color: red;
}