.board-Container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;

    /* Disable text selection */
    & *{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    }
}

.hideBoard{
    transform: translateX(100%);
    animation: moveOutRight 0.125s ease-out forwards;
}

.showBoard{
    transform: translateX(100%);
    animation: moveInRight 0.125s ease-out forwards;
}

.addTaskHoverContainer{
    position: fixed;
    z-index:1000;
    right:0;
    top:0;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    height: 100%;

    .addTaskBody{
        display: flex;
        flex-direction: column;
        padding: 11px 0 0 36px;
        /* height: 75vh; */
    }
    .addTaskBodyLeft{
        height: 85%;
        padding: 11px 42px 0 36px;
    }

    .addTaskBodyRight{
        position: static;
        width: 100%;
    }
    .createBtn{
        position: relative;
        height: 51px;
    }

    .addTaskEmptyDiv{
        display: none;
    }

    .addTaskBtnContainer{
        display: flex;
        width:100%;
        align-items: end;
        margin: 0;
        padding-bottom: 20px;
        position: relative;
        bottom: 20px;
        right: 20px;
    }

    .clearBtn{
        display: none;
    }

}

.boardAddTaskHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding: 52px 40px 52px 40px;
    font-size: 3rem;
    font-weight: 700;
}

.boardAddTaskCloseHoverContainer{
    display: flex;
    justify-self:right;
    position: relative;
    background-image: url('../img/icon-close.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    aspect-ratio: 1;
    cursor: pointer;
    &:hover{
        background-image: url('../img/icon-close_hover.png');

    }
}

.boardAddTaskCloseHoverOuterContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}

.boardTopContainer{
    padding: 10px;
    display: flex;
    gap: 35px;

    & :has(input:focus).searchTaskContainer{
        border: 1px solid #4589FF;
    }

}

.searchTaskContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 312px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}


.searchImg{
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    aspect-ratio: 1;
    cursor: pointer;
}


.searchImg:hover{
    background-image: url("../img/icon-search_hover.png");
}

.searchTaskInner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    gap: 16px;
    height: 100%;

    input{
        width: 83%;
        text-indent: 10px;
        background-color: transparent;
        border: none;
        border-right: 1px solid #D1D1D1;
        margin: 0;
        padding: 0;
    }

    input::placeholder{
        color: #D1D1D1;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#findTask{

    &:hover{
     border-bottom: none
    }

    &:focus{
        border-bottom: none
    }
}

.categoryTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img{
        width: 24px;
        height: 24px;
    }
}

.category-container {
    display: grid;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    overflow: scroll;
    height: 100%;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    flex:1;
    gap:29px;

    h2{
        padding-bottom: 5px;
    }
}

.drag-area-highlight {
    border: 2px dashed #4589FF;
}

.dragging{
    transform: rotate(5deg);
}

.categoryTasks {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
}

.empty-category{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 48px;
    background-color: #e7e7e7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    color: #A8A8A8;
    width: 253px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 24px;
    gap: 24px;
    padding: 16px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
    width: 252px;
    min-height: 270px;
    min-width: 252px;
}

.emptyCard{
    border-radius: 24px;
    border: 2px dashed #D3D3D3;
}

.emptyCard.vertical{
    width: auto;
    height: 100%;
}

.emptyCard:-moz-drag-over{
    background-color: #D3D3D3;
}

.addTaskButton{
    background-image: url("../img/icon-plus_button.png");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 24px;
    aspect-ratio: 1;
}

.addTaskButton:hover{
    background-image: url("../img/icon-plus_button_hover.png");
}

.addTaskBtnImg{
    background-image: url('../img/icon-plus.png');
    background-position: center;
    width: 15px;
    aspect-ratio: 1;
}

.assignedToButton{
    background-color: red;
}

.cardType{
    display: flex;
    max-width: fit-content;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 16px 4px 16px;
}

.cardTypeUserStory{
    background-color: #FF7A00;
}

.cardTypeTechnicalTask{
    background-color: #0038FF;
}

.cardTitle{
    color: #4589FF;
    width: 220px;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
}

.cardText{
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.cardBottomContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardPriority{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSubtasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

/*progress-bar*/
progress{
    appearance: none;
    height: 8px;
}

::-webkit-progress-bar{
    background: #F4F4F4;
    border-radius: 10px;
}
::-webkit-progress-value{
    background: #4589FF;
    border-radius: 10px;
}

.cardSubtasksText{
    font-size: 13px;
    text-wrap: nowrap;
}

.cardAssignedToContainer{
    display: flex;
    align-items: center;
    width: 100%;

    .profile-badge-group {
      margin-left: -10px
    }

    .profile-badge-group:first-child{
        margin-left: 0px;
    }
}

.d-none{
    display: none !important;
}

.addTaskBtnBoard{
    width: 150px !important;
}

.boardOverlay{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}

#success-message-container{
    display: flex;
    height:70px;
    padding: 20px;
    z-index: 500;
    position: fixed;
    border-radius: 20px;
    cursor: default;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
    text-wrap: nowrap;
    gap: 20px;
    z-index: 2000;
    bottom: -100px;

    .addTaskBtnImg{
        background-image: url('../img/icon-board.png');
        background-repeat: no-repeat;
        width: 32px;
        filter: brightness(0) invert(1);
    }
}

.hoverTop{
    animation: testIn 0.5s ease-out forwards; 
}


/* Animations success message */
@keyframes successIn {
    from{
        transform: translateY(0) ;
    }
    to{
        bottom: 50%;
        transform: translateY(50%)
    }
}


@keyframes successOut {
    from{
        transform: translate(0);
    }
    to{
        transform: translateX(-500px);
    }
}

.successIn{
    animation: successIn 0.5s ease forwards;
}

.successOut{
    animation: successOut 0.5s ease forwards;
}

.openCardContainer{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 528px;
    height: min-content;
    max-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 30px;
    padding: 48px 30px 48px 40px;
    background-color: lightblue;
    background-color: white;
    font-size: 1.188rem;
    z-index: 1000;
    cursor: default;
    display: flex;
    flex-direction: column;

    .cardTitle{
        color: black;
        font-size: 3.813rem;
        font-weight: 700;
    }
    .openCardDescription{
        color: black;
        font-size: 1.313rem;
        font-weight: 400;
    }
}

.openCardInnerContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    padding-right: 10px;
}

.openCardTextBox{
    display: flex;
    align-items: center;
    gap: 25px;
}

.openCardText{
    color: #42526E;
    font-size: 1.313rem;
    font-weight: 700;
}

.openCardValue{
    font-size: 1.188rem;
    text-transform: capitalize;
}

.openCardPriority{
    display: flex;
    padding: 4px 18px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
}

.openCardPriorityImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.openCardAssignedToContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.openCardAssignedToContactsContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.openCardAssignedToContact{
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: capitalize;
    padding: 7px 16px;
    font-size: 1.188rem;
    font-weight: 400;

    .profile-badge-group{
        color: white;
        width: 42px;
        height: 42px;
    }
}

.openCardSubtasksContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.openCardSubtask{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    gap: 16px;
    font-size: 1rem;
    text-transform: capitalize;  /* has to be??  */
}

.openCardSubtaskImgContainer{
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    aspect-ratio: 1;

}

.openCardSubtask[completed] .openCardSubtaskImgContainer {
    cursor: pointer;
    background-image: url('../img/icon-check_button_checked.png');
}

.openCardSubtask .openCardSubtaskImgContainer {
    cursor: pointer;
    background-image: url('../img/icon-check_button_unchecked.png');
}

.openCardImgDiv {
    width: 24px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.1s ease;
}

.openCardDeleteEditContainer{
    display: flex;
    align-self: flex-end;
    gap: 5px;

    >* {
        display: flex;
        align-items: center;
        gap:8px;
    }

    span{
        color: #2A3647;
    }
}

#openCardImgDelete {
    background-image: url("../img/icon-delete.png");
}

#openCardImgEdit {
    background-image: url("../img/icon-edit.png");
}

.openCardDeleteContainer,
.openCardEditContainer{
    cursor: pointer;

    &:hover{
        font-weight: bold;

        & span{
            color: #005dff;

        }

        #openCardImgDelete {
            background-image: url("../img/icon-delete_hover.png");
        }

        #openCardImgEdit {
            background-image: url("../img/icon-edit_darker.png");
        }
    }
}

.openCardContainer[editing]{
    .boardEditTaskHeader{
        display: flex;
        justify-content: end;
    }

    .addTaskBodyLeft{
        padding-inline: 5px;
    }
    .addTaskBodyRight{
        display: flex;
        justify-content: end;
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .addTaskBtn{
        width: min-content
    }

    .addTaskEmptyDiv{
        display: none;
    }
}

@media (max-width: 1400px){
    .category-container{
        display: flex;
        flex-direction: column;
        gap: 26px;
        overflow-x: hidden;
    }

    .category{
        display: flex;
        gap: 16px;
        width:100%;

    }

    .categoryTasks{
        display: flex;
        flex-direction: row;
        width:100%;
        align-items: flex-start;
        justify-content: start;
        overflow-x: auto;
        padding: 18px;
    }

    .card{
        height: 100%;
    }

    .empty-category{
        height: 273px;
    }

    .empty-category{
        border-radius: 24px;
    }

}

@media (max-width: 800px){
    .boardAddTaskButtonContainer{
        display: none;
    }

    .searchTaskContainer{
        width: 100%;

        input{
            width:100%;
        }
    }
}

.btnBoard{
    height: 51px;
}

@media (max-width: 560px) {
    .addTaskBody {
        padding: 24px 24px 0 24px;

    }

    .addTaskBodyTop,
    .addTaskBodyBottom {
        max-width: 400px;
        font-size: medium;
    }

    .addTaskBtnContainer {
        justify-content: center;
        right: 0;
        bottom: 0;
    }

    .addTaskHoverContainer {
        position: fixed;
        top: 20px;
        right: 20px;
        left: 20px;
        height: 95%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .createBtn {
            right: 0;
        }

        .addTaskBodyLeft {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 10px;
            height: 80%;
        }

        ::-webkit-scrollbar{
            display: none;
        }
    }


    .openCardContainer[editing] {

        .addTaskBodyLeft {
            /* padding-inline: 18px; */
            width: 100%;
        }

    }

    .openCardContainer {
        width: 396px;
        padding: 32px 24px 32px 24px;

        .openCardInnerContainer * {
            font-size: 1rem;
        }

        .cardTitle {
            font-size: 2.25rem;
        }

        .clearBtn {
            display: none;
        }

        .addTaskBody {
            font-size: medium;

            ::-webkit-scrollbar {
                display: none;
            }
        }

        .addTaskBodyTop,
        .addTaskBodyBottom {
            width: 100%;
        }

        .addTask-custom-select {
            font-size: medium;
        }

        .addTaskPriorityButtonContainer {
            justify-content: center;
            gap: 16px;
        }

        .addTaskPriorityButton {
            width: 100px;
            font-size: medium;

            img {
                width: 16px;
            }

            ;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    }

}
    
@media (max-width: 450px) {
    .openCardContainer,
    .openCardContainer[editing] {
        /* width: clamp(290px, 100%, 400px); */
        width: 100%;
        padding: 24px 30px 24px 30px;
        }
        .addTaskHoverContainer{

            left:0;
            right:0;

            .boardAddTaskHeader{
                padding: 30px;
                justify-content: space-between;
                border-radius: 0;
                align-items: center;
                }
                .addTaskBodyLeft{
                    padding-inline: 20px;
                    padding: 5px;
                    }

        .addTaskBtnContainer{
            bottom:0;
            right:0;
        }
    }
}

@media (max-width: 400px){
    .openCardContainer[editing]{
        padding: 24px 16px 24px 16px;

        .addTaskPriorityButtonContainer{
            gap: 5px;
            }
    }
}

@media (max-width: 350px) {
    .cardTitle{
        font-size: 1rem !important;
    }
    .openCardContainer{
        padding: 15px;
    }


    .openCardContainer[editing] {
        padding:5px;
        .boardEditTaskHeader,
        .addTaskBodyRight{
            padding: 10px;
            bottom: 10px
        }

    }
}