.square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 191px;
  border: 1px solid lightgrey;
  top: -0.5px;
  /* left: 708px; */
  margin-right: 32px;
  padding: 40px;
  gap: 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  cursor: pointer;
  background-color: #fff;
  /* display: inline-grid; */
}

.square-button:hover {
  transform: scale(1.06);
  background-color: var(--clr-text-menu-hover);
}
