.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
  background-color: rgba(255, 255, 255, 0.5); 
}

.contact-main {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 1.438rem;
  box-sizing: border-box;
}

.contacts-container {
  padding-left: 1.719rem;
  width: 28.5rem;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 32px 0;
}

.contacts-container::-webkit-scrollbar {
  width: 1.5rem;
}

.contacts-container::-webkit-scrollbar-track {
  background: transparent;
}

.contacts-container::-webkit-scrollbar-thumb {
  border: 0.5rem solid hsl(0 100% 100% / 1);
  height: 3.3125rem;
  background-color: #a8a8a8;
  border-radius: 0.75rem;
}

.contacts-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.contacts-container::-webkit-scrollbar-button {
  height: 4px;
  width: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-container::-webkit-scrollbar-button:decrement {
  background-image: url("../img/arrow_up.png");
  scroll-padding-top: 20px;
}

.contacts-container::-webkit-scrollbar-button:increment {
  background-image: url("../img/arrow_down.png");
  margin-bottom: 20px;
}

/* onclick Add new Contact remove d-none right-side */
@keyframes moveInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.add-contact.move-out-right {
  animation: moveOutRight 125ms ease-out forwards;
}

@keyframes moveOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.right-side {
  animation: none; /* Deaktiviere die Animation standardmäßig */
}

.right-side.animate-in {
  animation: moveInRight 0.125s ease forwards;
}

.right-side.animate-out {
  animation: moveOutRight 0.125s ease forwards;
}

.add-contact {
  top: 0;
  width: 584px;
  right: 0px;
  margin-left: 159px;
  position: fixed;
  border-radius: 30px 0px 30px 30px;
  animation: moveInRight 125ms ease-in-out;
}

.add-contact-header-close {
  display: flex;
  justify-content: end;
  padding: 24px 24px 35px 0;
  border-top-left-radius: 30px;
  
  box-sizing: border-box;
  background-color: #005dff;
}

.add-contact-header-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #005dff;
  border: solid 1px #005dff !important;
  color: white;
  padding-bottom: 91px;
  gap: 12px;
  font-size: 58px;
}

.add-contact-header-logo img {
  height: 66px;
}

.add-contact-header-logo span {
  font-size: 48px;
  font-weight: 700;
}

.add-contact-header-logo {
  font-size: 27px;
}

.add-contact-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid 1px #e3e3e3;
  border-radius: 0px 0px 30px 30px;
  border-bottom: none;
}

.profile-badge-group-add-contact {
  padding: 72px 0 16px 0;
}

.profile-badge-add-contact {
  display: flex;
  justify-content: center;
  border-radius: 70px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border-radius: 70px;
  border: solid 3px white;
}

.profile-badge-add-contact img {
  height: 120px;
  width: 120px;
  
}

.input-frame {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 422px;
  gap: 32px;
}

input {
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 12px 21px;
  margin: 16px 0 16px 0;
  align-items: center;
  outline: none;
  border: none;
  border-bottom: 1px solid #D1D1D1;
}

.input-frame img {
  position: absolute;
  margin: 16px;
}

.addContactButton {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
  margin-bottom: 63px;
}

.cancelButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  border-radius: 10px;
  color: #647188;
  background-color: white;
  gap: 10px;
  font-size: 23px;
  border: 1px solid #647188;
  transition-duration: 120ms;
}

.cancelButton:hover {
  color: #005dff;
  border: solid 1px #005dff;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.4);
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  border-radius: 10px;
  border: none;
  background-color: #4589FF;
  color: white;
  font-size: 23px;
  transition-duration: 120ms;
  cursor: pointer;
}

.createButton:hover {
  background-color: #005dff;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.4);
}

.button-add-contact-card {
  display: flex;
  width: 28.5rem;
  padding: 2rem 1.5rem 1rem 1.5rem;
  gap: 0.625rem;
  cursor: pointer;
}

.button-add-contact {
  display: flex;
  width: 22.313rem;
  height: 3.5rem;
  border: 0.063rem;
  border-radius: 0.625rem;
  border-color: #4589ff;
  padding: 1rem 0.625rem 1rem 0.625rem;
  background-color: #4589ff;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

.button-add-contact img {
  width: 2rem;
  height: 2rem;
}

.add-contact {
  z-index: 10000; 
}

.add-new-contact {
  color: white;
  line-height: 1.725rem;
  font-weight: 400;
  font-size: 1.438rem;
}

.contact-list {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.contact-list-letter {
  width: 22rem;
  padding: 1.063rem 2.25rem 1.063rem 2.25rem;
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.parting-line-container {
  width: 22rem;
  padding: 0.5rem 0 0.5rem 0;
  gap: 0.625rem;
}

.parting-line {
  display: flex;
  width: 22rem;
  border: 0.063rem solid;
  border-color: #d1d1d1 !important;
  align-items: center;
}

.contact-card {
  display: flex;
  width: 22rem;
  border-radius: 0.625rem;
  padding: 0.938rem 1.5rem 0.938rem 1.5rem;
  gap: 2.188rem;
}

.contact-card:hover {
  background-color: #4589ff;
  color: white;
  cursor: pointer;
}

.contact-card:hover .profile-badge-group {
  border: 2px solid white;
}

.contact-card:hover .contact-card-name,
.contact-card:hover .contact-card-email {
  background-color: #4589ff;
  color: white;
}

.profile-badge {
  display: flex;
  border-radius: 2.813rem;
  gap: 0.625rem;
  align-items: center;
}

.profileBadgeChoosen {
  border: 2px solid white;
}

.profile-badge-group {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  font-size: 0.75rem;
  background-color: #ff7a00; /*Platzhalter, noch zu löschen*/
}

.contact-card-overview {
  gap: 0.313rem;
}

.contact-card-name {
  font-size: 1.188rem;
  line-height: 1.425rem;
}

.contact-card-email {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #4589ff;
}

.choosenContact {
  background-color: #4589ff;
  color: white;
}

.right-side {
  margin-top: 10.5rem;
  left: 46.875rem;
  padding-left: 1.313rem;
  color: black;
}

.contact-Details {
  display: flex;
  flex-direction: column;

  height: 19.875rem;
  color: black;
  gap: 1.313rem;
}

.contact-details-header {
  display: flex;
  height: 7.5rem;

  gap: 3.375rem;
}

.contact-details-badge {
  display: flex;
  background-color: #ff7a00;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  border: 0.188rem;
  justify-content: center;
  align-items: center;
}

.contact-details-badge-initials {
  color: white;
  font-weight: 500;
  line-height: 3.525rem;
  font-size: 2.938rem;
}

.contact-details-name-group {
  height: auto;
  width: auto;
}

.contact-details-name {
  padding: 0.313rem;
  font-weight: 500;
  font-size: 2.938rem;
  line-height: 3.525rem;

  text-transform: capitalize;
}

.contact-details-icons {
  display: flex;
  gap: 0.5rem;
}

.icon-edit {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  align-items: center;
  color: #2a3647;
}

.icon-edit img {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-delete {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  align-items: center;
  color: #2a3647;
}

.icon-delete img {
  height: 1.5rem;
  width: 1.5rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  line-height: 1.725rem;
  font-weight: 700;
  font-size: 1.438rem;
}

.contact-email-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.2rem;
  gap: 0.928rem;
}

.contact-information-mail {
  font-weight: 400;
  color: #005dff;
}

.contact-phone-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.2rem;
  gap: 0.928rem;
}

.contact-phone-container-header {
  font-weight: 700;
}

.contact-phone-container-phone {
  font-weight: 400;
}

.contact-succesfully-created {
  position: relative;
  line-height: 1.75rem;
}

.contact-succ-created-overlay,
.contact-succesfully-created-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-succesfully-created-wrapper {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: var(--version-2-main-color);
  padding: 1.437rem var(--padding-mid);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}

.contact-succ-created-overlay {
  position: relative;
  box-shadow: var(--nuevo);
  width: 100%;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 1.438rem;
  color: var(--white);
  font-family: var(--version-2-body);
}

.add-contact-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe für das Overlay */
    z-index: 999; /* Stellen Sie sicher, dass das Overlay über anderen Elementen liegt */
  
}