.contacts-mobile-child {
    width: 1rem;
    height: 48.063rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .capa-1-icon {
    height: 2.438rem;
    width: 2rem;
    position: relative;
  }
  .capa-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header-moile-child {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    min-height: 2.5rem;
  }
  .header-moile {
    align-self: stretch;
    box-shadow: var(--barra-superior);
    background-color: var(--version-2-main-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-xl) var(--padding-6xl);
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
  }
  .a {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 0.75rem;
  }
  .a-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-list-v1-mobile-inner {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .am,
  .frame-item {
    position: absolute;
  }
  .frame-item {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am {
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 7.188rem;
  }
  .antomgmailcom {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent,
  .contact-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
  }
  .frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-blueviolet-200);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am1 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-group {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge1 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 6.313rem;
  }
  .antomgmailcom1 {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-group,
  .contact-name1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-group {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name1 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
  }
  .b {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 0.75rem;
  }
  .b-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .vector-icon {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-list-v1-mobile-child {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .ellipse-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-blueviolet-100);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am2 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-container {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge2 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom2 {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-container,
  .contact-name2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-container {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name2 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
  }
  .d {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 0.875rem;
  }
  .d-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child1 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .frame-div {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .frame-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-violet);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am3 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .group-div {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge3 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom3 {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent1,
  .contact-name3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent1 {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name3 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
  }
  .e {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 0.688rem;
  }
  .e-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child3 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-list-v1-mobile-inner1 {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .frame-child4 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am4 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent1 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge4 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .antomgmailcom4,
  .anton-mayer4 {
    position: relative;
    display: inline-block;
  }
  .anton-mayer4 {
    margin: 0;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
    min-width: 6.188rem;
  }
  .antomgmailcom4 {
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    min-width: 7.375rem;
    white-space: nowrap;
  }
  .anton-mayer-parent2,
  .contact-name4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent2 {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name4 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
    z-index: 2;
  }
  .frame-child5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-turquoise);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am5 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent2 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge5 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer5 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom5 {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent3,
  .contact-name5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent3 {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name5 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
    z-index: 3;
  }
  .m {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 1.063rem;
  }
  .m-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    z-index: 4;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child6 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .frame-footer {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
    z-index: 5;
  }
  .frame-child7 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-darkslateblue);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am6 {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent3 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge6 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .antomgmailcom6,
  .anton-mayer6 {
    position: relative;
    line-height: 120%;
    display: flex;
    align-items: center;
  }
  .anton-mayer6 {
    margin: 0;
    width: 7.375rem;
    height: 1.438rem;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom6 {
    align-self: stretch;
    height: 1.188rem;
    font-size: var(--version-2-body-size);
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent4,
  .contact-name6 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent4 {
    width: 8.5rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name6 {
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
    z-index: 6;
  }
  .contact-name6,
  .t,
  .t-wrapper {
    align-self: stretch;
    display: flex;
  }
  .t {
    margin: 0;
    width: 0.625rem;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 400;
    font-family: inherit;
    align-items: center;
  }
  .t-wrapper {
    height: 3.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    box-sizing: border-box;
    z-index: 7;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child8 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-list-v1-mobile-inner2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    z-index: 8;
  }
  .frame-child9 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-tomato);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .tw {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent4 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge7 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .antomgmailcom7,
  .anton-mayer7 {
    position: relative;
    line-height: 120%;
    display: flex;
    align-items: center;
  }
  .anton-mayer7 {
    margin: 0;
    width: 6.938rem;
    height: 1.438rem;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom7 {
    align-self: stretch;
    height: 1.188rem;
    font-size: var(--version-2-body-size);
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent5,
  .contact-name7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent5 {
    width: 7.688rem;
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name7 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
    z-index: 9;
  }
  .contact-list-v1-mobile-item {
    align-self: stretch;
    height: 5.625rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .contact-list-v1-mobile,
  .contact-list-v1-mobile-wrapper,
  .header-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .contact-list-v1-mobile {
    flex: 1;
    background-color: var(--white);
    flex-direction: column;
    padding: var(--padding-5xl) var(--padding-5xl) 7.125rem;
    box-sizing: border-box;
  }
  .contact-list-v1-mobile-wrapper,
  .header-mobile {
    align-self: stretch;
  }
  .contact-list-v1-mobile-wrapper {
    height: 48.188rem;
    background-color: var(--white);
    overflow-y: auto;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 var(--padding-sm) 0;
    box-sizing: border-box;
    z-index: 2;
    margin-top: -0.063rem;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--white);
    font-family: var(--font-inter);
  }
  .header-mobile {
    flex-direction: column;
  }
  .person-add-icon {
    height: 2rem;
    width: 2rem;
    position: relative;
  }
  .secondary-mobile-contact-v1 {
    width: 4rem;
    box-shadow: var(--stronger);
    border-radius: var(--br-3xs);
    background-color: var(--version-2-main-color);
    border: 1px solid var(--version-2-main-color);
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-mini);
  }
  .menu-icons1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xl);
  }
  .summary {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 4.25rem;
  }
  .menu-button {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-9xs-5);
    gap: var(--gap-9xs);
  }
  .menu-icons2 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xs) 0 var(--padding-3xs-5);
  }
  .summary1 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 2.688rem;
  }
  .menu-button1 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-base);
    gap: var(--gap-9xs);
  }
  .menu-icons3 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
  }
  .summary2 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 4rem;
  }
  .menu-button2 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-7xs-5);
    gap: var(--gap-9xs);
  }
  .menu-icons4 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi);
  }
  .summary3 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 3.875rem;
  }
  .menu-button3 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-6xs-5);
    gap: var(--gap-9xs);
    color: var(--version-2-main-color);
  }
  .contacts-mobile,
  .menu-2-mobile-a-v1 {
    background-color: var(--white);
    display: flex;
    align-items: flex-start;
  }
  .menu-2-mobile-a-v1 {
    align-self: stretch;
    box-shadow: 0-1px 6px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-base);
    gap: var(--gap-xl);
  }
  .contacts-mobile {
    width: 100%;
    position: relative;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--menu-color);
    font-family: var(--version-2-body);
  }
  @media screen and (max-width: 392px) {
    .contact-name6,
    .menu-2-mobile-a-v1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 385px) {
    .contact-name5 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 382px) {
    .contact-name7 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 380px) {
    .contact-name5 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 352px) {
    .contact-name3 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 344px) {
    .contact-name2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 342px) {
    .contact-name1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 328px) {
    .contact-name {
      flex-wrap: wrap;
    }
    .contact-list-v1-mobile-wrapper {
      height: auto;
    }
  }
  @media screen and (max-width: 324px) {
    .contact-name6 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 320px) {
    .contact-name5 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 312px) {
    .contact-name7 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 307px) {
    .contact-name4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 291px) {
    .contact-name3 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 284px) {
    .contact-name4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 282px) {
    .contact-name2 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 280px) {
    .contact-name1 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 265px) {
    .contact-name {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 261px) {
    .contact-name6 {
      gap: var(--gap-mid);
    }
  }
  
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --version-2-body: "Open Sans";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-mini: 0.938rem;
    --version-2-body-size: 1rem;
    --version-2-t6-size: 1.188rem;
    --font-size-xs: 0.75rem;
    --font-size-lg: 1.125rem;
  
    /* Colors */
    --version-2-main-color: #4589ff;
    --white: #fff;
    --menu-color: #42526e;
    --color-black: #000;
    --color-tomato: #ff4646;
    --color-darkslateblue: #462f8a;
    --color-turquoise: #1fd7c1;
    --color-goldenrod: #ffbb2b;
    --color-violet: #fc71ff;
    --color-blueviolet-100: #6e52ff;
    --color-blueviolet-200: #9327ff;
  
    /* Gaps */
    --gap-xl: 1.25rem;
    --gap-9xs: 0.25rem;
    --gap-16xl: 2.187rem;
    --gap-8xs: 0.312rem;
    --gap-mid: 1.062rem;
  
    /* Paddings */
    --padding-mid: 1.062rem;
    --padding-base: 1rem;
    --padding-mini: 0.937rem;
    --padding-6xs-5: 0.406rem;
    --padding-lgi: 1.187rem;
    --padding-7xs-5: 0.343rem;
    --padding-xl: 1.25rem;
    --padding-4xs: 0.562rem;
    --padding-3xs-5: 0.593rem;
    --padding-9xs-5: 0.218rem;
    --padding-3xl: 1.375rem;
    --padding-sm: 0.875rem;
    --padding-5xl: 1.5rem;
    --padding-5xs: 0.5rem;
    --padding-17xl: 2.25rem;
    --padding-6xl: 1.562rem;
    --padding-6xs: 0.437rem;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-3xs: 10px;
    --br-26xl: 45px;
    --br-10xs: 3px;
  
    /* Effects */
    --nuevo: 0px 0px 4px rgba(0, 0, 0, 0.1);
    --stronger: 0px 4px 8px rgba(0, 0, 0, 0.2);
    --barra-superior: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }