.contact-main {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.contacts-container {
  margin-top: 96px;
  margin-left: 232px;
  padding-left: 27.5px;
  width: 456px;
  height: 928px;
  align-items: center;
  justify-content: center;
  /* animation: moveInRight 100ms ease-out forwards; */
}

/* onclick Add new Contact */
@keyframes moveInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 100ms ease-out, right 100ms ease-out;
}

.overlay.show {
    opacity: 1;
} */

.button-add-contact-card {
  display: flex;
  width: 456px;
  padding: 32px 24px 16px 24px;
  gap: 10px;
}

.button-add-contact {
  display: flex;
  width: 357px;
  height: 56px;
  border: 1px;
  border-radius: 10px;
  border-color: #4589ff;
  padding: 16px 10px 16px 10px;
  background-color: #4589ff;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button-add-contact img {
  width: 32px;
  height: 32px;
}

.add-new-contact {
  color: white;
  line-height: 27.6px;
  font-weight: 400;
  font-size: 23px;
}

.contact-list {
  padding: 32px 24px 32px 24px;
}

.contact-list-letter {
  width: 352px;
  padding: 17px 36px 17px 36px;
  gap: 8px;
  font-size: 18px;
  line-height: 21.6px;
}

.parting-line-container {
  width: 352px;
  padding: 8px 0 8px 0;
  gap: 10px;
}

.parting-line {
  display: flex;
  width: 352px;
  border: 1px solid;
  border-color: #d1d1d1 !important;
  align-items: center;
}

.contact-card {
  display: flex;
  width: 352px;
  border-radius: 10px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
}

.profile-badge {
  display: flex;
  border-radius: 45px;
  gap: 10px;
  align-items: center;
}

.profileBadgeChoosen {
  border-color: white;
}

.profile-badge-group {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  font-size: 12px;
  background-color: #ff7a00; /*Platzhalter, noch zu löschen*/
}

.contact-card-overview {
  gap: 5px;
}

.contact-card-name {
  font-size: 19px;
  line-height: 22.8px;
}

.contact-card-email {
  font-size: 16px;
  line-height: 19.2px;
  color: #4589ff;
}

.choosenContact {
  background-color: #4589ff;
  color: white;
}

.right-side {
  margin-top: 168px;
  left: 750px;
  padding-left: 21px;
  color: black;
}

.contact-Details {
  display: flex;
  flex-direction: column;
  width: 461px;
  height: 318px;
  color: black;
  gap: 21px;
}

.contact-details-header {
  display: flex;
  height: 120px;
  width: 461px;
  gap: 54px;
}

.contact-details-badge {
  display: flex;
  background-color: #ff7a00;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px;
  justify-content: center;
  align-items: center;
}

.contact-details-badge-initials {
  color: white;
  font-weight: 500;
  line-height: 56.4px;
  font-size: 47px;
}

.contact-details-name-group {
  height: auto;
  width: auto;
}

.contact-details-name {
  padding: 5px;
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
  width: 287px;
}

.contact-details-icons {
  display: flex;
  gap: 8px;
}

.icon-edit {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  align-items: center;
  color: #2A3647;
  ;
}

.icon-edit img {
  height: 24px;
  width: 24px;
}

.icon-delete {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  align-items: center;
  color: #2A3647;
  ;
}

.icon-delete img {
  height: 24px;
  width: 24px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 22px;
  line-height: 27.6px;
  font-weight: 700;
  font-size: 23px;
}

.contact-email-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 19.2px;
  gap: 15px;
}

.contact-information-mail {
  font-weight: 400;
  color: #005dff;
}

.contact-phone-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 19.2px;
  gap: 15px;
  line-height: 19.2px;
}

.contact-phone-container-header {
  font-weight: 700;
}

.contact-phone-container-phone {
  font-weight: 400;
}
