.nav-buttons-box {
  display: none !important;
}

#nav-wrapper {
  display: flex;
  height: -webkit-fill-available;
  justify-content: end;
}

.privatePolicyAndLegalNoticeLinksNav {
  margin-bottom: 16px;
}
