.nav-buttons-box {
  display: none !important;
}

#nav-wrapper {
  display: flex;
  height: -webkit-fill-available;
  justify-content: end;
}

.privatePolicyAndLegalNoticeLinksNav {
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .main {
    height: auto;
    /* overflow: hidden; */
  }

  #navigation-container {
    display: none;
  }
}
