:root {
  --clr-main: #4589ff;
  --clr-text: #ffffff;
}

.header-content {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-text);
  background-color: var(--clr-main);
  padding: 25px;
  img {
    width: 40px;
  }
}

.header-inner-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
}

.header-initials-button {
  background-color: #fff;
  color: var(--clr-main);
  font-size: 18px;
  font-weight: 500;
  border: 1.5px solid var(--clr-main);
  padding: 10px;
  gap: 10px;
  font-family: Open Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 46.12px;
  height: 46.12px;
  /* viewbox: 0 0 100 100; */
}

.header-initials-button-outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
/* #username {
  .kreis {
    fill: white;
    stroke: white;
    stroke-width: 10px;
  }
  .text {
    font-size: 48px;
    font-family: Arial;
    fill: var(--clr-main);
    text-anchor: middle;
  }
} */

.helpIcon {
  cursor: pointer;
}
