:root {
  --clr-main: #4589ff;
  --clr-text: #ffffff;
}

.header-content {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-text);
  background-color: var(--clr-main);
  padding: 25px;
  .header-logo {
    width: 46px;
    height: 56px;
    margin-left: 39px;
  }
}

.header-inner-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
}

.header-kanban-writing {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
}

.header-initials-button {
  background-color: #fff;
  color: var(--clr-main);
  outline: white 3px solid;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 2.5px solid var(--clr-main);
  padding: 10px;
  gap: 10px;
  font-family: Open Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 46.12px;
  height: 46.12px;
  cursor: pointer;
  /* viewbox: 0 0 100 100; */
}

.small-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 0 20px 20px;
  position: absolute;
  top: 80px;
  z-index: 99;
  right: 2px;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);

  a {
    font-size: 19px;
    font-weight: 400;
    color: var(--clr-text-menu);
    width: Fixed 152px;
    padding: 8px 16px;
    gap: 8px;
  }
}

.small-menu.visible {
  z-index: 1;
  opacity: 1;
}

.opacityZero {
  opacity: 0;
}

.small-menu-mobile {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 0 20px 20px;
  position: absolute;
  top: 80px;
  z-index: 99;
  right: 0.5px;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);

  a {
    font-size: 19px;
    font-weight: 400;
    color: var(--clr-main);
    width: Fixed 152px;
    padding: 8px 16px;
    gap: 8px;
  }
}

.helpIcon {
  cursor: pointer;
}

@media (max-width: 701px) {
  .header-mobile {
    display: flex;
  }

  .small-menu {
    display: none;
  }

  .header-content {
    .header-logo {
      width: 32px;
      height: 39px;
      margin-left: 0;
    }
  }

  .header-kanban-writing {
    display: none;
  }
  .helpIcon {
    display: none;
  }

  .header-initials-button {
    width: 37px;
    height: 37px;
    margin-right: 0;
  }
  .header-mobile {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 25px;
    background-color: var(--clr-main);
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  }
}
