.legal_notice-wrapper {
  margin: 76px 88px;
}

h1 {
  font-family: Open Sans;
  font-size: 61px;
  font-weight: 700;
  color: #000;
  line-height: 73.2px;
  margin-bottom: 48px;
  /* text-align: left; */
  /* white-space: nowrap; */
}

h2 {
  font-family: Open Sans;
  font-size: 33px;
  font-weight: 700;
  color: var(--clr-main);
  line-height: 39.6px;
  text-align: left;
  margin-bottom: 16px;
}

h3 {
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.8px;
  text-align: left;
  color: var(--clr-text-medium-blue);
  margin-top: 24px;
}

.blue {
  color: var(--clr-main);
}

.h1LegalNoticeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1LegalNoticeBox img {
  width: 40px;
  cursor: pointer;
}

legalHighlight.active {
  background-color: aqua;
}
