.loginMainContainer {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.loginHeader {
  display: flex;
  justify-content: space-between;
}

.joinLogoBlue {
  margin-top: 80px;
  margin-left: 77px;
  margin-bottom: 64.53px;
}

.signUpField {
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 67px;
  margin-right: 86px;
  gap: 35px;
}

.signUpField span {
  font-size: 23px;
  font-weight: 400;
}

.signUpButton {
  padding: 10px 16px;
  gap: 10px;
  cursor: pointer;
}

.login-page {
  padding: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 30px;
  width: fit-content;
  /* top: 266.5px;                    top und left für position absolute?
  left: 394px; */
  padding: 48px 115px;
  gap: 39px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.h1LoginBox {
  width: 422px;
  display: flex;
  justify-content: center;
}

.loginH1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

.horizontalH1Underline {
  height: 150px;
  border: 3px solid var(--clr-main);
  rotate: -90deg;
  position: absolute;
  z-index: -1;
  /* left: 50%; */
}

.innerLoginBox {
  height: 152px;
  margin-bottom: 20px;
}

.loginEmailBox {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  width: 422px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 24px;
  padding: 12px 21px;
  gap: 10px;
}

.loginPasswordBox {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  width: 422px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 24px;
  padding: 12px 21px;
  gap: 10px;
}

#loginEmailInput,
#loginPasswordInput {
  border: none;
  font-size: 19px;
  font-weight: 400;
  padding-top: 12.5px;
}

.loginButtons {
  border: none;
  border-radius: 8px;
  padding: 10px 35px;
  gap: 10px;
  font-size: 23px;
  cursor: pointer;
}

.loginButtonUser {
  margin-left: 27.5px;
}

.loginButtonUser,
.signUpButton {
  color: #fff;
  background-color: var(--clr-main);
}

.loginButtonGuest {
  color: #647188;
  margin-left: 35px;
}
#rememberMe {
  margin-top: 20px;
  margin-bottom: 38px; /*TODO checkbox color or png*/
  margin-left: 8px;
}

.loginFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 188.8px;
  margin-bottom: 42.7px;
  gap: 16px;
}

.privacyPolicy,
.legalNotice {
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-text-menu);
}

/* .logo-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move-logo 2s ease-in-out;
} 

@keyframes move-logo{
  from {transform: translate(0px, 0px)}
  to {translate(-720px, -330px}
}
*/

.blue-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-main);
  color: #fff;
  /* display: none; */
  opacity: 1;
  animation: fadingOverlay 5s ease-in-out;
}

@keyframes fadingOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move-logo 2s ease-in-out;
}

@keyframes move-logo {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-220px, -330px);
    filter: invert(1);
  }
}
