@media (min-width: 481px) and (max-width: 769px) {
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    padding: 24px 56px;
    width: -webkit-fill-available;
    margin: 32px 16px 0 16px;
  }

  .loginEmailBox,
  .loginPasswordBox {
    width: auto;
  }

  .loginButtonsBox {
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    button {
      width: 180px;
      height: 48px;
      gap: 10px;
      padding: 10px 10px;
      margin: 0 0 21px 0;
      text-align: center;
    }
  }

  .signUpField {
    display: none;
  }

  .signUpField-mobile {
    margin-top: 60.5px;
    display: flex;
    flex-direction: colurowmn;
    align-items: center;
    width: max-content;
    gap: 32px;
  }

  .signUpField-mobile span,
  .signUpButton-mobile {
    font-size: 23px;
    font-weight: 400;
  }

  .signUpButton-mobile {
    min-width: 66px;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  /* logo-animation-start {
      width: 100px;
      height: 122px;
    } */
  .signUpField {
    display: none;
  }

  .joinLogoBlue {
    margin-top: 37px;
    margin-left: 38px;
  }

  .joinLogoBlue img {
    width: 64px;
    height: 78px;
    /* margin-bottom: 90px; REALLY? */
  }

  .login-box {
    padding: 32px 16px;
    width: -webkit-fill-available;
    margin: 16px;
  }

  .loginEmailBox,
  .loginPasswordBox {
    width: fit-content;
  }

  .signUpField {
    display: none;
  }

  .signUpField-mobile {
    margin-top: 60.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 16px;
  }

  .signUpField-mobile span,
  .signUpButton-mobile {
    font-size: 19px;
    font-weight: 400;
  }

  .signUpButton-mobile {
    min-width: 66px;
    white-space: nowrap;
  }
}

@media (min-width: 386px) and (max-width: 480px) {
  .loginButtonsBox {
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    align-items: center;
  }

  .loginButtons {
    width: 180px;
    height: 48px;
    font-size: 19px;
    font-weight: 400;
    margin-left: 0;
    /* border: none;
      border-radius: 8px;
      padding: 10px 35px;
      gap: 10px;
      font-size: 23px;
      cursor: pointer; */
  }
}

@media (min-width: 280px) and (max-width: 385px) {
  .loginButtons {
    width: 180px;
    height: 48px;
    font-size: 19px;
    font-weight: 400;
    margin-left: 0;
  }

  .loginButtonUser,
  .loginButtonGuest {
    margin-left: 0;
  }
}
