.navigation-container {
  display: flex;
  flex-direction: column;
  width: 232px;
  max-width: 232px;
}

.navigation-content {
  padding-top: 42px;
  padding-inline: 23px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.nav-btn {
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  width: 186px;
  padding: 8px 30px 8px 30px;
  border-radius: 8px;
  gap: 8px;
  color: var(--clr-text-menu);
  cursor: pointer;

  img {
    width: 24px;
  }

  &:hover {
    background-color: var(--clr-text-menu-hover);
  }
}

.privatePolicyAndLegalNoticeLinksNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 66px;
  margin-left: 56px;
  line-height: 19.2px;
  /* text-align: left; */

  a {
    color: var(--clr-text-menu);
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
  }
}
