.privacy-wrapper {
  margin: 76px 88px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 48px;
}

h2 {
  font-size: 33px;
  font-weight: 700;
  color: var(--clr-text-medium-blue);
  margin-top: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 19px;
  font-weight: 700;
  color: var(--clr-text-medium-blue);
  margin-bottom: 8px;
}

strong,
h4 {
  color: var(--clr-text-medium-blue);
  margin-bottom: 6px;
}

p {
  margin-bottom: 8px;
}

.h1PrivacyBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1PrivacyBox img {
  width: 40px;
  cursor: pointer;
  margin-bottom: 42px;
}

@media (max-width: 701px) {
  .privacy-wrapper {
    margin: 36px 40px;
  }
}
