.main {
  position: relative;
  height: 100vh;
  background-color: var(--clr-main);
}

.joinLogoSignUpWhite {
  position: fixed;
  top: 80px;
  left: 77px;
  z-index: 1;
}

.signUpMainContainer {
  z-index: 100;
  background-color: var(--clr-main);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUp-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signUp-box {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 30px;
  width: 600px;
  padding: 48px 115px;
  gap: 39px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  flex-direction: column;
}

.arrowLeft {
  position: absolute;
  left: 50.5px;
  top: 66.5px;
  color: var(--clr-text-medium-blue);
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}

.h1SignUpBox {
  /* width: 422px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpH1 {
  font-size: 46px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

.horizontalH1UnderlineSignUp {
  height: 150px;
  border: 3px solid var(--clr-main);
  rotate: -90deg;
  position: absolute;

  z-index: 1;
  /* left: 50%; */
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpEmailBox,
.signUpNameBox {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  width: 422px;
  border-bottom: 1px solid #d1d1d1;
  gap: 10px;
}

.signUpInputField{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #d1d1d1;
padding: 12px 21px;
}
input::placeholder{
  color: #d1d1d1
}
.innerSignUpBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.signUpPasswordBox {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  width: 422px;
  border-bottom: 1px solid #d1d1d1;
  gap: 10px;
}

#signUpNameInput,
#signUpEmailInput,
#signUpPasswordInput,
#signUpPasswordInputConfirm {
  border: none;
  font-size: 19px;
  font-weight: 400;
}

#signUpNameInput:focus,
#signUpEmailInput:focus,
#signUpPasswordInput:focus,
#signUpPasswordInputConfirm:focus {
  outline: none;
}

.signUpButtons {
  border: none;
  border-radius: 8px;
  padding: 10px 35px;
  gap: 10px;
  font-size: 23px;
  cursor: pointer;
}

.registerBtn {
  color: #fff;
  background-color: var(--clr-main);
  cursor: pointer;
}

#registerBtn[disabled] {
  background-color: var(--clr-main);
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
}

.registerBtn:not([disabled]):hover {
  color: #fff;
  background-color: var(--clr-text-medium-blue);
}

.checkboxBox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

label.custom-checkbox {
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-text-menu);
  gap: 8px;
}

.checkboxBox {
  height: 24px;
}

a {
  text-decoration: none;
  color: var(--clr-text-medium-blue);
}

.signUpFooter {
  position: fixed;
  bottom: 26px;
  background-color: var(--clr-main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.signUpFooter > div {
  cursor: pointer;
}

.privacyPolicySignUp,
.legalNoticeSignUp {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

*::-webkit-scrollbar-thumb {
  border: 0.5rem solid var(--clr-main);
  height: 3.3125rem;
  background-color: #a8a8a8;
  border-radius: 0.75rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

/*/ //////////////////////////////////////////////media 970 ///////////////////////*/
@media (max-width: 970px) {
  .joinLogoSignUpWhite {
    position: fixed;
    top: 38px;
    left: 37px;
    z-index: 1;
  }
}

/*/ //////////////////////////////////////////////media  520 to 680///////////////////////*/
@media (max-width: 680px) {

  .signUpLogo {
    width: 64px;
    height: 78px;
  }

  .signUp-box {
    padding: 32px 0px;
    gap: 32px;
    z-index: 1;
  }

  .arrowLeft {
    left: 55.5px;
    top: 56.5px;
  }

  .horizontalH1UnderlineSignUp {
    height: 145px;
    margin-top: -3px;
  }



  .signUpEmailBox,
  .signUpNameBox {
    width: 364px;
  }

  .signUpPasswordBox {
    width: 364px;
  }

  .registerBtn {
  }

   .signUpLogo {
    width: 64px;
    height: 78px;
  }

  .signUp-box {
    width: 482px;
  }
}

/*///////////////////////////////////////////////media 550///////////////////////*/
@media (max-width: 550px) {
  .signUp-box {
    width: 402px;
  }
}

@media (max-width: 450px) {

  #signUpNameInput,
  #signUpEmailInput,
  #signUpPasswordInput,
  #signUpPasswordInputConfirm {
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0;
  }

  .signUpLogo {
    width: 64px;
    height: 72px;
  }


  .signUp-box {
    width: 290px;
    z-index: 1;
  }

  .arrowLeft {
    left: 20.5px;
    top: 51.5px;
  }

  .horizontalH1UnderlineSignUp {
    height: 180px;
    margin-top: -20px;
  }

  .signUpH1 {
    font-size: 46px;
    margin-bottom: 26px;
  }

  .signUpEmailBox,
  .signUpNameBox {
    width: 250px;
    padding: 0;
    gap: 0px;
  }

  .signUpPasswordBox {
    justify-content: center;
    width: 250px;
    padding: 0;
    gap: 0px;
  }

  .signUpFooter {
    gap: 16px;
    z-index: 1000;
    padding: 16px;
    white-space: nowrap;
  }
}
