/* Medium Devices, Desktops */
@media only screen and (min-width: 950px) {
  .button-container {
    /* max-width: 950px; */
    display: grid;
    grid-template-columns: 204px 204px 204px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    /* grid-template-areas:
    "urgent urgent inProgress"
    "toDo inBoard urgent"
    "feedback done urgent"; */

    /* background: blue; */
  }

  .urgent {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: calc((204px * 3) + (2 * 24px));
  }

  .toDo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: white;
    height: 219px;
    width: 204px;
  }

  .inBoard {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }

  .inProgress {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }

  .feedback {
    height: 219px;
    width: 204px;
  }

  .done {
    height: 219px;
    width: 204px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1204px) {
  .button-container {
    display: grid;
    grid-template-columns: 204px 204px 204px 204px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .urgent {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: calc((204px * 3) + (2 * 24px));
  }

  .toDo {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: white;
    height: 219px;
    width: 204px;
  }

  .inBoard {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }

  .inProgress {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }

  .feedback {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }

  .done {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 219px;
    width: 204px;
  }
}

.usernameForGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.userGreeting {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
}

.h1-box {
  max-width: fit-content;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 72px;
}

.daytimeGreeting {
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: var(--clr-text-good-morning);
  align-content: center;
}

#usernameForGreeting {
  max-width: fit-content;
  color: var(--clr-main);
  height: 58px;
  margin: 9.5px 0 9.5px 22px;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
}
