:root {
  --clr-summary-square-button-focus: #d2e3ff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.d-none {
  display: none;
}

.box-shadow {
  box-shadow: 0px 0px 4px 0px #00000029;
}

.main {
  background-color: #fff;
}

.main-wrapper {
  position: relative;
}

.sub-main-summary {
  display: grid;
  place-items: center;
  align-items: center;
  width: 100%;
}

.summary-box {
  /* background-color: rgba(39, 134, 22, 0.4); */
  width: 912px;
  height: 591px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.usernameForGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.userGreeting {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
}

.h1-box {
  max-width: fit-content;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 72px;
}

.daytimeGreeting {
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: var(--clr-text-good-morning);
  align-content: center;
}

/* [data-user-type="user"] h1 {
  max-width: fit-content;
  font-size: 48px;
  color: var(--clr-text-good-morning);
  height: 58px;
  width: 338px;
  margin: 9.5px 0 9.5px 22px;
} */

#usernameForGreeting {
  max-width: fit-content;
  color: var(--clr-main);
  height: 58px;
  margin: 9.5px 0 9.5px 22px;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
  /* line-height: 76.8px;
  text-align: left; */
}

/* .white-border {
  border: 3px solid #fff;
  border-radius: 50%;
} */

.line1,
.line2 {
  display: flex;
  max-width: fit-content;
}

.line1 .square-button:last-child {
  width: 208px;
  top: -0.5px;
}

.line2 .square-button:first-child {
  background-color: var(--clr-summary-square-button-focus);
}

.line1 .square-button:last-child,
.line2 .square-button:last-child {
  margin-right: 0;
}

.inner-square-button img {
  width: 76px;
  height: 76px;
}

.urgentAndDate {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  height: 191px;
  width: 672px;
  border-radius: 30px;
  padding: 28px 48px;
  gap: 9px;
  margin-right: 32px;
  margin-bottom: 32px;
  cursor: pointer;
  color: #fff;
}

.urgentAndDate:hover {
  transform: scale(1.05);
  background-color: var(--clr-text-medium-blue);
}

.urgentAndDate .amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.urgentAndDate span {
  font-size: 23px;
  font-weight: 400;
}

.verticalSeparaterLine {
  height: 145px;
  border: 3px solid #fff;
  border-radius: 3px;
  margin-left: 35px;
  margin-right: 35px;
}

.date {
  font-weight: 700;
  font-size: 33px;
  color: #fff;
  margin-bottom: 13px;
}

.amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  margin-left: 20px;
}

.inner-square-button span {
  color: var(--clr-main);
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  display: ruby-text;
}
