@media (min-width: 481px) and (max-width: 769px) {
  /* #subMainSummary {
    display: none;
  } */

  .mobile-summary-main {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-summary-box {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mobile-square-button {
    width: 186px;
    height: 152px;
    padding: 15px 40px 15px 40px;
    gap: 0px;
    border-radius: 30px;
    background-color: #fff;
    margin-right: 0;
  }

  .mobile-inner-square-button span {
    font-size: 19px;
  }

  .mobile-amount {
    font-size: 40px;
  }
}

@media screen and (min-width: 956x) and (max-width: 1156px) {
  .button-container {
    max-width: 956px;
    display: grid;
    grid-template-columns: 204px 1fr 1fr 1fr;
    grid-template-rows: 190px 220px 220px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-areas:
      "urgent urgent urgent"
      "inProgress toDo inBoard "
      "feedback done done";
  }

  .inProgress {
    width: 204px;
  }
}

@media screen and (min-width: 600px) and (max-width: 955px) {
  .button-container {
    max-width: 950px;
    display: grid;
    grid-template-columns: 204px 1fr 1fr;
    grid-template-rows: 190px 220px 220px 220px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-areas:
      "urgent urgent"
      "toDo inBoard"
      "inProgress inProgress"
      "feedback done";
  }
}

@media (max-width: 480px) {
  .urgent {
    width: 396px;
    height: 150px;
  }

  .toDo {
    width: 100%;
    height: 106px;
  }
}
