:root {
  --clr-summary-square-button-focus: #d2e3ff;
}

.button-container {
  width: 100%;
  max-width: 870px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 190px 220px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  grid-template-areas:
    "urgent urgent urgent inBoard"
    "toDo inProgress feedback done";
}

.inBoard {
  grid-area: inBoard;
  height: 191px;
  width: 204px;
}

.toDo {
  background-color: var(--clr-summary-square-button-focus);
  grid-area: toDo;
  height: 219px;
  width: 204px;
}

.square-button:hover {
  border-radius: 0px 30px 30px 30px;
  transform: scale(1.14, 1.08);
  transform-origin: right;
}

.inBoard:hover,
.inProgress:hover,
.feedback:hover,
.done:hover {
  background-color: var(--clr-text-medium-blue);
  color: #fff;
}

.square-button:hover img {
  border: 3px solid #fff;
  border-radius: 50%;
}

.square-button:hover .amount,
.square-button:hover span {
  color: #fff;
}

.square-button.inBoard:active,
.square-button.inProgress:active,
.square-button.feedback:active,
.square-button.done:active {
  background-color: #fff;
  color: var(--clr-main);
  transform: scale(1);
  border-radius: 30px;
  .amount {
    color: #000;
  }
  span,
  .amount {
    color: var(--clr-main);
  }
  img {
    border: 3px solid #fff;
    border-radius: 50%;
  }
}

.toDo:hover {
  background-color: #fff;
  color: var(--clr-text-medium-blue);
  span,
  .amount {
    color: var(--clr-text-medium-blue);
  }
}

.square-button.toDo:active {
  background-color: var(--clr-main);
  color: #fff;
  transform: scale(1);
  border-radius: 30px;
  span,
  .amount {
    color: white;
  }
  img {
    border: 3px solid #fff;
    border-radius: 50%;
  }
}

/* Additional styling for img, .amount, and span when not hovered */
.square-button img {
  transition: border-color 0.3s ease;
}

.square-button .amount,
.square-button span {
  transition: color 0.3s ease;
}

.inProgress {
  background-color: #fff;
  grid-area: inProgress;
}

.feedback {
  background-color: #fff;
  grid-area: feedback;
}

.done {
  background-color: #fff;
  grid-area: done;
}

/* .flex {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.no-wrap {
  white-space: nowrap;
}

.d-none {
  display: none;
}

.box-shadow {
  box-shadow: 0px 0px 4px 0px #00000029;
}

.main {
  background-color: #fff;
}

.main-wrapper {
  position: relative;
}

.sub-main-summary {
  display: grid;
  place-items: center;
  align-items: center;
  width: 100%;
}

.summary-box {
  /* background-color: rgba(39, 134, 22, 0.4); */
  width: 912px;
  height: 591px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.usernameForGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.userGreeting {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
}

.h1-box {
  max-width: fit-content;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 72px;
}

.daytimeGreeting {
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: var(--clr-text-good-morning);
  align-content: center;
}

#usernameForGreeting {
  max-width: fit-content;
  color: var(--clr-main);
  height: 58px;
  margin: 9.5px 0 9.5px 22px;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
}

button {
  border: unset;
}

.square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  top: -0.5px;
  padding: 40px;
  gap: 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  cursor: pointer;
  border: unset;
}

.inner-square-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgentAndDate {
  grid-area: urgent;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  height: 191px;
  width: 672px;
  border-radius: 30px;
  padding: 28px 48px;
  gap: 9px;
  cursor: pointer;
  color: #fff;
}

.urgentAndDate:hover {
  border-radius: 0px 30px 30px 30px;
  transform: scale(1.02, 1.08);
  img {
    transform: scale(1.08, 1.02);
  }
  background-color: #fff;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 0px 0px #00000029;
  font-size: 1.5em;
  color: var(--clr-text-medium-blue);
}

.urgentAndDate:hover * {
  border-color: var(--clr-text-medium-blue);
  color: var(--clr-text-medium-blue);
}

.urgentAndDate:active * {
  border-color: #fff;
  color: #fff;
}

.urgentAndDate:active {
  transform: scale(1);
  border-radius: 30px 30px 30px 30px;
  background-color: var(--clr-text-medium-blue);
  color: #fff;
}

.urgentAndDate .amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.urgentAndDate span {
  font-size: 23px;
  font-weight: 400;
}

.verticalSeparaterLine {
  height: 145px;
  border: 3px solid #fff;
  border-radius: 3px;
  margin-left: 35px;
  margin-right: 35px;
}

.date {
  font-weight: 700;
  font-size: 33px;
  color: #fff;
  margin-bottom: 13px;
}

.amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.image-and-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-square-button span {
  color: var(--clr-main);
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  display: ruby-text;
}
