<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/navigation.css">
    <title>Navigation</title>
</head>
<body>
    <div class="navigation-content">
        <div id="summary" class="nav-btn"><img src="./assets/img/icon-summary.svg" alt="summary">Summary</div>
        <div id="addTask" class="nav-btn"><img src="./assets/img/icon-addTask.svg" alt="add task">Add Task</div>
        <div id="board" class="nav-btn"><img src="./assets/img/icon-board.svg" alt="board">Board</div>
        <div id="contacts" class="nav-btn"><img src="./assets/img/icon-contacts.svg" alt="contacts">Contacts</div>
    </div>
</body>
</html>