<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./assets/css/navigation.css" />

  <title>Navigation</title>
</head>

<body>
  <div class="navigation-content">
    <div class="nav-wrapper">
      <div class="nav-buttons-box">
        <a href="./summary.html" id="summary" class="nav-btn">
          <img class="navImg" src="./assets/img/icon-summary.png" alt="summary" />Summary
        </a>
        <a href="./addTask.html" id="addTask" class="nav-btn">
          <img src="./assets/img/icon-addTask.png" alt="add task" />Add Task
        </a>
        <a href="./board.html" id="board" class="nav-btn">
          <img src="./assets/img/icon-board.png" alt="board" />Board
        </a>
        <a href="./contacts.html" id="contacts" class="nav-btn">
          <img src="./assets/img/icon-contacts.png" alt="contacts" />Contacts
        </a>
      </div>

      <div class="privatePolicyAndLegalNoticeLinksNav">
        <div id="privacyNav"">
        <a href=" ./privacy.html">Privacy Policy</a>
        </div>
        <div id="legalNav">
          <a href="./legal_notice.html">Legal Notice</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>