<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/navigation.css" />

    <script src="./js/navigation.js"></script>

    <title>Navigation</title>
  </head>

  <body>
    <div class="navigation-content">
      <a href="./summary.html">
        <div id="summary" class="nav-btn" onclick="loadSummary()">
          <img src="./assets/img/icon-summary.png" alt="summary" />Summary
        </div>
      </a>
      <a href="./addTask.html">
        <div id="addTask" class="nav-btn" onclick="loadAddTask()">
          <img src="./assets/img/icon-addTask.png" alt="add task" />Add Task
        </div>
      </a>
      <a href="./board.html">
        <div id="board" class="nav-btn" onclick="loadBoard()">
          <img src="./assets/img/icon-board.png" alt="board" />Board
        </div>
      </a>
      <a href="./contacts.html">
        <div id="contacts" class="nav-btn" onclick="loadContacts()">
          <img src="./assets/img/icon-contacts.png" alt="contacts" />Contacts
        </div>
      </a>
    </div>

    <div class="privatePolicyAndLegalNoticeLinksNav">
      <a href="./privatePolicy.html">Privacy Policy</a>
      <a href="./legalNotice.html">Legal Notice</a>
    </div>
  </body>
</html>
