<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../../js/register.js"></script>
    <script src="../../js/storage.js"></script>
    
    <title>FIXME: REGISTER TEST</title>
</head>

<body onload="init()">
    <form onsubmit="register(); return false;">
        <input type="text" id="email">
        <input type="password" id="password">
        <button id="registerBtn">Registrieren</button>
    </form>
</body>

</html>